<a href="https://colab.research.google.com/github/Maria-arroyo18/Analitica-de-datos2025/blob/main/Reto_1_DataFrames_y_preprocesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto 1: Preprocesamiento y Análisis de Datos con Pandas

## **Objetivo:**

Aplicar técnicas de limpieza, transformación y análisis exploratorio de datos en Pandas.

 ---
 **Ejercicio 1: Carga de Datos**

 1. Descarga el archivo "datos_empresa.csv"
 2. Carga el archivo en un DataFrame de Pandas.
 3. Muestra las primeras 5 filas del DataFrame.

 **Ejercicio 2: Exploración de Datos**

1. Identifica cuántas filas y columnas tiene el dataset.
2. Verifica si hay valores nulos en el dataset.
3. Muestra las estadísticas generales del conjunto de datos.

**Ejercicio 3: Limpieza y Transformación de Datos**

 1. Elimina filas duplicadas si existen.
 2. Rellena los valores nulos con la media de cada columna numérica.
 3. Convierte la columna "Fecha" al tipo de dato datetime si existe.

---

**Por María Fernanda Arroyo Berrocal**

#**0. Cargamos las Librerías**

In [1]:
import pandas as pd #Librería para tablas
import numpy as np #Librería de uso algebráico
import matplotlib.pyplot as plt #librería para gráficos
import seaborn as sns #libreria para gráficos avanzados

#**Ejercicio 1: Carga de Datos**

In [2]:
#Cargamos el archivo en un DataFrame
datos_empresa = pd.read_csv("/content/datos_empresa.csv")

In [3]:
#Mostramos las primeras 5 filas del DataFrame
datos_empresa.head(6)

        Fecha      Sector  Ingresos    Costos  Utilidad
0  2024-01-01    Finanzas  171958.0   41534.0    130424
1  2024-01-02  Tecnologia  196867.0   70397.0    126470
2  2024-01-03   Educacion  181932.0  121387.0     60545
3  2024-01-04  Tecnologia  153694.0   31016.0    122678
4  2024-01-05  Tecnologia  169879.0   85591.0     84288
5  2024-01-06       Salud       NaN   53247.0    107021

#**Ejercicio 2: Exploración de Datos**

In [4]:
#Identificamos cuántas filas y columnas tiene el dataset
datos_empresa.shape

(105, 5)

**Hay 105 filas y 5 columnas**

In [5]:
#Verificamos si hay valores nulos en el dataset
datos_empresa.isnull().sum()

Fecha       0
Sector      3
Ingresos    6
Costos      6
Utilidad    0
dtype: int64

**Hay un total de 15 valores nulos en el dataset**

In [6]:
#Vemos las estadísticas generales del conjunto de datos
datos_empresa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     105 non-null    object
 1   Sector    102 non-null    object
 2   Ingresos  99 non-null     float64
 3   Costos    99 non-null     float64
 4   Utilidad  105 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 4.2+ KB

#**Ejercicio 3: Limpieza y Transformación de Datos**

In [7]:
#Verificamos si hay filas duplicadas
datos_empresa.duplicated().sum()

5

**Hay 5 filas duplicadas**

In [13]:
#Procedemos a eliminar las filas duplicadas
datos_empresa = datos_empresa.drop_duplicates()

In [14]:
#Rellenamos los valores nulos con la media de cada columna numérica.
for columna in datos_empresa.select_dtypes(include=np.number).columns:
    datos_empresa[columna] = datos_empresa[columna].fillna(datos_empresa[columna].mean())

In [15]:
#Verificamos que han sido eliminados
datos_empresa.isnull().sum()

Fecha       0
Sector      0
Ingresos    0
Costos      0
Utilidad    0
dtype: int64

In [17]:
#Convertimos la columna "Fecha" al tipo de dato datetime si existe
datos_empresa['Fecha'] = pd.to_datetime(datos_empresa['Fecha'])
print(datos_empresa.dtypes)

Fecha       datetime64[ns]
Sector              object
Ingresos           float64
Costos             float64
Utilidad             int64
dtype: object